configuration {
    font:                            "Ubuntu 12";
    show-icons:                      true;
    icon-theme:                      "Papirus";
    display-drun:                    "";
    drun-display-format:             "{name}";
    disable-history:                 false;
    fullscreen:                      false;
    hide-scrollbar:                  true;
    sidebar-mode:                    false;
}

@theme "themes/theme.rasi"
