/* Color-Scheme For All Themes*/

* {
    background:        #272727ff;
    background-alt:    #272727ff;
    foreground:    #ffffffff;
    border:    #233e5eff;
    selected:    #233e5eff;
    urgent:    #EC407Aff;
	logo:    #EC407Aff;
	on:    #61C766ff;
	off:    #EC7875ff;
}
